.DS_Store
# .env

# Kirby
.lock
public/media/*
!public/media/index.html
storage/accounts/*
!storage/accounts/index.html
storage/cache/*
!storage/cache/index.html
storage/sessions/*
!storage/sessions/index.html
site/config/.license

# Retour plugin
site/config/.retour
site/config/redirects.yml
site/logs/

# Static site generation
static/*
!static/.kirbystatic
